.capslip-ripple {
  width: 200px;
  height: 400px;
  border-radius: 0 202px 202px 0;
  border: 2px solid #bf5800;
  border-left: none;
  background-color: rgba(255, 128, 18, 0.5);
}
.capslip-indicator {
  width: 14px;
  height: 28px;
  border-radius: 0 16px 16px 0;
  background-color: rgba(255, 128, 18, 0.8);
  border: 2px solid #bf5800;
  border-left: none;
}

