.capslip-ripple {
  width: 200px;
  height: 400px;
  border-radius: 0 200px 200px 0;
}
.capslip-on {
  background-color: #88ff11;
}
.capslip-off {
  background-color: #ff8811;
}
.capslip-indicator {
  width: 14px;
  height: 42px;
  background-color: #88ff11;
}
