
@radius: 200px;
@color-on: #8f1;
@color-off: #f81;
@indicator-scale: 0.2;

.capslip-ripple {
	width: @radius;
	height: @radius*2;
	border-radius: 0 @radius @radius 0;
}

.capslip-on {
	background-color: @color-on;
}

.capslip-off {
	background-color: @color-off;
}

.capslip-indicator {
	width: @radius * @indicator-scale;
	height: @radius * @indicator-scale * 4;
	background-color: @color-on;
}

